@charset "UTF-8";
/**======================-МИКСИНЫ-=================*/
/**======================-ШРИФТЫ_ПОДКЛЮЧАЕМЫЕ-=================*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
/**======================-ШРИФТЫ_ПО_УМОЛЧАНИЮ-=================*/
.link {
  color: #737373;
}

.sub-title,
.text {
  color: #737373;
}

body {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
}

.title-h1 {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
}

.text {
  line-height: 150%;
  font-size: 20px;
}

/* list */
.link, .text-bold {
  line-height: 171%;
}

.link {
  font-weight: 600;
}

.link:hover,
.item-advice__link:hover {
  text-decoration: underline;
}

.link:active,
.item-advice__link:active {
  opacity: 0.7;
}

@media (max-width: 479px) {
  .mobile-menu {
    font-size: 25px;
    font-weight: 400;
  }
}

@media (max-width: 341px) {
  .mobile-menu {
    font-size: 17px;
  }
}

.h2 {
  font-size: 40px;
  line-height: 57px;
}

.h3,
.logo,
.h2,
.btn-text,
.text-bold {
  font-weight: 700;
}

.btn-text {
  line-height: 200%;
}

.h3,
.logo,
.text-bold {
  letter-spacing: 0.1px;
}

.text-bold {
  font-size: 16px;
}

.h3,
.logo {
  font-size: 24px;
  line-height: 133%;
}

/*!=================RESET=================!*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/** Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/** Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/** Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/** Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/** Для элементов a, у которых есть класс, убираем подчеркивание*/
a[class] {
  text-decoration: none;
}

/** Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/** Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/** Наследуем шрифты для инпутов и кнопок*/
input,
button,
textarea {
  font: inherit;
}

/** Курсор для кнопок */
button {
  cursor: pointer;
}

body {
  font-family: "Montserrat";
  color: #252b42;
  background-color: #fafafa;
}

.wrapper {
  min-height: 100%;
  min-width: 320px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.about,
.footer {
  background-color: #ffffff;
}

/**======================-HEADER-=================*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  color: inherit;
}

.header__menu {
  margin: 0px 0px 0px 132px;
  padding: 5px 0;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 60px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  padding: 0px 21px 0px 0px;
}

/**======================-PAGE-=================*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__serveses {
  position: relative;
  z-index: 2;
  margin: -111px 0px 0px 0px;
}

.page .header-block {
  text-align: center;
}

.page .header-block > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.page__clients:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

/**======================-MAIN-BLOCK-=================*/
.main-block {
  position: relative;
}

.main-block__body {
  position: relative;
  padding: 184px 0px 191px 0px;
  max-width: 409px;
  z-index: 2;
}

.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-block__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  border-radius: 37px;
  background-color: #ff7b47;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 36px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 385px) {
  .main-block__btn {
    margin: 10px 10px 0px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.main-block__btn:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.main-block__btn-border {
  border: 1px solid #0d5c63;
  color: #0d5c63;
  background: none;
}

.main-block__btn:hover {
  background-color: #2dc071;
}

.main-block__btn-border:hover {
  background-color: #0d5c63;
  color: #ffffff;
}

.main-block__btn:active, .main-block__btn-border:active {
  opacity: 0.5;
}

.main-block__img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__img img {
    -o-object-position: right;
       object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__img img {
    opacity: 0.4;
  }
}

/**======================-SERVESES-=================*/
.serveses__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px -30px -15px;
}

.serveses__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 992px) {
  .serveses__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 992px) {
  .serveses__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 697px) {
  .serveses__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.serveses__column:active {
  opacity: 0.8;
}

.serveses__item {
  height: 100%;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  padding: 35px 40px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.serveses__item #img-hidden {
  display: none;
}

.serveses__item:hover {
  background: #0d5c63;
}

.serveses__item:hover .item-serveses__icon #img1,
.serveses__item:hover .item-serveses__icon #img2,
.serveses__item:hover .item-serveses__icon #img3 {
  display: none;
}

.serveses__item:hover .item-serveses__icon #img-hidden {
  display: block;
}

.serveses__item:hover .item-serveses__title, .serveses__item:hover .item-serveses__sub-title {
  color: #ffffff;
}

.serveses__item:hover .item-serveses__sub-title {
  opacity: 0.7;
}

@media (max-width: 697px) {
  .item-serveses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 370px) {
  .item-serveses__title {
    text-align: center;
  }
}

@media (max-width: 786px) {
  .item-serveses__sub-title {
    text-align: center;
  }
}

.item-serveses > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

@media (max-width: 992px) {
  .item-serveses:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*!=================-ADVANTAGES-=================!*/
.advantages {
  padding: 80px 0px;
}

@media (max-width: 992px) {
  .advantages {
    padding: 60px 0px 40px 0px;
  }
}

.advantages__header {
  margin: 0px 0px 50px;
  text-align: center;
}

.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px -15px;
}

.advantages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 15px 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1035px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 520px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.advantages__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.item-advantages {
  text-align: center;
  padding: 30px;
}

.item-advantages__icon {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-advantages__text {
  color: #737373;
}

.item-advantages > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

/*!=================-ADVICE-=================!*/
.advice {
  padding: 80px 0px;
}

@media (max-width: 1045px) {
  .advice {
    padding: 0px 0px 80px 0px;
  }
}

.advice__header {
  margin: 45px 0px;
}

.advice__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px -15px;
}

.advice__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 15px 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1045px) {
  .advice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 520px) {
  .advice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.advice__item {
  background-color: #ffffff;
}

.item-advice {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-advice__content {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-advice__link {
  color: inherit;
  display: inline-block;
  margin: 0px 0px 15px 0px;
}

.item-advice__title {
  color: #252b42;
}

.item-advice__text {
  color: #737373;
}

.item-advice__img {
  display: block;
  padding: 0px 0px 60% 0px;
}

/**======================-ABOUT-=================*/
.about {
  padding: 100px 0px 136px;
}

@media (max-width: 1045px) {
  .about {
    padding: 70px 0px 136px;
  }
}

@media (max-width: 992px) {
  .about {
    padding: 10px 0px 136px;
  }
}

.about__header {
  margin: 0px 0px 100px 0px;
}

@media (max-width: 1045px) {
  .about__header {
    margin: 0px 0px 60px 0px;
  }
}

@media (max-width: 992px) {
  .about__header {
    margin: 0px 0px 40px 0px;
  }
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 992px) {
  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.about__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 42.225% 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 992px) {
  .about__video {
    padding: 0px 0px 56.25% 0px;
  }
  .about__video:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}

.about__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 0px 0px 121px;
}

@media (max-width: 1045px) {
  .about__content {
    padding: 0px 0px 0px 80px;
  }
}

@media (max-width: 992px) {
  .about__content {
    padding: 0px 0px 0px 0px;
  }
}

.about__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

@media (max-width: 992px) {
  .about__title:not(:last-child) {
    font-size: 28px;
    text-align: center;
  }
}

.about__description:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

.about__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.item-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-about__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}

.item-about__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}

.item-about__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

/**======================-CLIENTS-=================*/
.clients {
  padding: 50px 0px;
}

@media (max-width: 767px) {
  .clients {
    padding: 25px 0px;
  }
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__item {
  padding: 10px 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
  text-align: center;
  min-width: 110px;
}

.clients__item img {
  display: inline-block;
}

/**======================-SUBSCRIBE-=================*/
.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #17213c;
  border-radius: 2px;
  padding: 30px 40px 30px 50px;
}

@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0px 32px;
  }
}

@media (min-width: 800px) {
  .subscribe__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 800px) {
  .subscribe__body {
    margin: 0px -15px;
    padding: 25px 15px;
  }
}

.subscribe__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  color: #ffffff;
}

@media (min-width: 800px) {
  .subscribe__title {
    max-width: 266px;
  }
}

@media (max-width: 800px) {
  .subscribe__title {
    padding: 0px 0px 20px 0px;
  }
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.subscribe__input {
  width: 100%;
  min-height: 58px;
  padding: 15px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0px 0px 5px;
  border-right: 0;
  color: #737373;
}

@media (max-width: 370px) {
  .subscribe__input {
    padding: 15px 10px;
  }
}

.subscribe__input:focus {
  color: #17213c;
}

.subscribe__btn {
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  min-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0px 22px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 370px) {
  .subscribe__btn {
    padding: 0px 10px;
  }
}

.subscribe__btn:hover {
  background-color: #2dc071;
}

.subscribe__btn:active {
  background-color: rgba(45, 192, 113, 0.5);
}

.subscribe::before {
  content: "";
  position: absolute;
  background-color: #252b42;
  height: 77px;
  width: 100%;
  left: 0;
  bottom: 0;
}

/**======================-CONTACT-=================*/
.contact {
  padding: 80px 0px 68px 0px;
}

.contact__container {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact__header {
  margin: 0px 0px 80px;
}

.contact__body {
  margin: -15px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 15px 15px;
}

@media (max-width: 992px) {
  .contact__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 992px) {
  .contact__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 767px) {
  .contact__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 334px) {
  .contact__column {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .contact__column:hover {
    margin: 0px -15px;
    padding: 15px 0px;
  }
}

@media (max-width: 992px) {
  .contact__column:hover {
    margin: 0px;
    padding: 15px 0px;
  }
}

.contact__item {
  background-color: #ffffff;
  padding: 50px 40px;
}

.contact__item #img-hidden {
  display: none;
}

.contact__item:hover {
  background: #252b42;
}

@media (min-width: 992px) {
  .contact__item:hover:last-child {
    padding: 80px 40px;
  }
}

.contact__item:hover .item-contact__icon #img1,
.contact__item:hover .item-contact__icon #img2,
.contact__item:hover .item-contact__icon #img3 {
  display: none;
}

.contact__item:hover .item-contact__icon #img-hidden {
  display: block;
}

.contact__item:hover .item-contact__email, .contact__item:hover .item-contact__support {
  color: #ffffff;
}

.contact__item:hover .item-contact__support:hover {
  color: #e74040;
}

.contact__item:hover .item-contact__support:active {
  opacity: 0.7;
}

.item-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-contact__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-contact__email, .item-contact__support {
  color: inherit;
}

.item-contact__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5px 20px;
  min-height: 44px;
  color: #ff7b47;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.item-contact__btn:hover {
  text-decoration: none;
  background: #ff7b47;
  color: #ffffff;
}

.item-contact__btn:active {
  opacity: 0.5;
}

.item-contact > *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

/**======================-FOOTER-=================*/
