/*!=================-ADVICE-=================!*/

.advice {
  padding: 80px 0px;
  &__container {
  }

  &__header {
    margin: 45px 0px;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: -15px -15px;
  }

  &__column {
    flex: 0 1 25%;
    padding: 15px 15px;
  }
  @media (max-width: 1045px) {
    &__column {
      flex: 0 1 50%;
    }
  }
  @media (max-width: 520px) {
    &__column {
      flex: 0 1 100%;
    }
  }
  &__item {
    background-color: $white;
  }
  @media (max-width: 1045px) {
    &__item {
      text-align: center;
    }
  }
}
@media (max-width: 1045px) {
  .advice {
    padding: 0px 0px 80px 0px;
  }
}
.item-advice {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    padding: 30px;
    flex: 1 1 auto;
  }

  &__link {
    display: inline-block;
    margin: 0px 0px 15px 0px;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__title {
    color: $text;
  }

  &__text {
    color: $second-text;
  }

  &__img {
    display: block;
    padding: 0px 0px 60% 0px;
  }
}
