/*!=================-ADVANTAGES-=================!*/

.advantages {
  padding: 80px 0px;
  @media (max-width: 992px) {
    padding: 60px 0px 40px 0px;
  }
  &__container {
  }

  &__header {
    margin: 0px 0px 50px 0px;
    text-align: center;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: -15px -15px;
  }

  &__column {
    flex: 0 1 25%;
    padding: 15px 15px;
    // margin: 0px 30px 0px 0px;
    @media (max-width: 1035px) {
      flex: 0 1 50%;
    }
    @media (max-width: 520px) {
      flex: 0 1 100%;
    }
  }

  &__item {
    align-items: center;
    background-color: $white;
  }
}

.item-advantages {
  text-align: center;
  padding: 30px;
  &__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__value {
  }

  &__text {
    color: $second-text;
  }
}
.item-advantages > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
