/**======================-HEADER-=================*/
.header {
  min-height: 60vh;
  &__container {
    display: flex;
    min-height: 104px;
    align-items: center;
  }

  &__logo {
    color: inherit;
    @media (max-width: 479px) {
      position: absolute;
      width: 100%;
      left: 36px;
      top: 36px;
      z-index: 100;
    }
  }

  &__menu {
    margin: 0px 0px 0px 132px;
    padding: 5px 0;

    @media (max-width: 992px) {
      margin: 0px 0px 0px 80px;
    }
    @media (max-width: 479px) {
      margin: 0px auto;
    }
  }
  &__menu > * {
    @media (max-width: 479px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translate(0px, 86px);
    }
  }
  @media (min-width: 479px) {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
  }
}

.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
  }

  &__item:not(:last-child) {
    padding: 0px 0px 30px 0px;
    @media (min-width: 479px) {
      padding: 0px 21px 0px 0px;
    }
  }
  &__link {
  }
}
