/**======================-PAGE-=================*/
.page {
  flex: 1 1 auto;

  &__main-block {
  }
  &__serveses {
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px;
  }
  &__advantages {
  }
  .header-block {
    text-align: center;
    &__title {
    }

    &__text {
    }
  }
  .header-block > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }

  &__advice {
  }
  &__about {
  }
  &__clients:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
  &__subscribe {
  }
}
