/**======================-SERVESES-=================*/

.serveses {
  &__container {
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -30px -15px;
  }

  &__column {
    flex: 0 1 33.333%;
    padding: 0px 15px;
    margin: 0px 0px 30px 0px;
    color: inherit;
    transition: all 0.3s ease 0s;
    @media (max-width: 992px) {
      flex: 0 1 50%;
    }

    &:last-child {
      @media (max-width: 992px) {
        flex: 1 1 100%;
      }
    }

    @media (max-width: 697px) {
      flex: 0 1 100%;
    }
  }
  &__column:active {
    opacity: 0.8;
  }
  &__item {
    height: 100%;
    // min-width: 300px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: $white;
    padding: 35px 40px;
    transition: all 0.3s ease 0s;
  }
  &__item #img-hidden {
    display: none;
  }
  &__item:hover {
    background: $secondary-1;
    .item-serveses {
      &__icon #img1,
      &__icon #img2,
      &__icon #img3 {
        display: none;
      }
      &__icon #img-hidden {
        display: block;
      }

      // Also working version, but the second shorter and more interesting in my opinion.
      // &__icon img {
      //   display: none;
      // }
      // &__img1,
      // &__img2,
      // &__img3 {
      //   display: block;
      // }

      // &__img1 {
      //   background: url(../img/icon/serveses/consulting-w.svg) no-repeat;
      //   margin: 0px 0px -5px 0px;
      // }
      // &__img2 {
      //   background: url(../img/icon/serveses/finance-w.svg) no-repeat;
      // }
      // &__img3 {
      //   background: url(../img/icon/serveses/services-w.svg) no-repeat;
      //   margin: 0px 0px -10px 0px;
      // }

      &__title,
      &__sub-title {
        color: $white;
      }
      &__sub-title {
        opacity: 0.7;
      }
    }
  }
}

.item-serveses {
  @media (max-width: 697px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon {
  }
  // &__img {
  //   width: 100px;
  //   height: 100px;
  // }

  &__title {
    @media (max-width: 370px) {
      text-align: center;
    }
  }

  &__sub-title {
    @media (max-width: 786px) {
      text-align: center;
    }
  }

  & > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }

  &:last-child {
    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  // &__img1,
  // &__img2,
  // &__img3 {
  //   width: 48px;
  //   height: 48px;
  //   display: none;
  // }
}
