/*!=================RESET=================!*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/** Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/** Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/** Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/** Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/** Для элементов a, у которых есть класс, убираем подчеркивание*/
a[class] {
  text-decoration: none;
}
/** Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/** Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/** Наследуем шрифты для инпутов и кнопок*/
input,
button,
textarea {
  font: inherit;
}
/** Курсор для кнопок */
button {
  cursor: pointer;
}
