// /*!=================-TYPOGRAPHY-=================!*/

%all-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
}
.title-h1 {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
}

.text {
  line-height: 150%;
  font-size: 20px;
}
/* list */

.link, .text-bold /* h6 */ {
  line-height: 171%;
}

.link /* h6 */ {
  font-weight: 600;
}
.link:hover,
.item-advice__link:hover {
  text-decoration: underline;
}
.link:active,
.item-advice__link:active {
  opacity: 0.7;
}
// /* list */ {
// 	font-weight: 400;
// }

.mobile-menu {
  @media (max-width: 479px) {
    font-size: 25px;
    font-weight: 400;
  }
  // @media (max-width: 409px) {
  //   // font-size: 20px;
  // }
  @media (max-width: 341px) {
    font-size: 17px;
  }
}
.h2 {
  font-size: 40px;
  line-height: 57px;
}

.h3,
.logo,
.h2,
.btn-text,
.text-bold {
  font-weight: 700;
}
.btn-text {
  line-height: 200%;
}

.h3,
.logo,
.text-bold {
  letter-spacing: 0.1px;
}
.text-bold {
  font-size: 16px;
}

.h3,
.logo {
  font-size: 24px;
  line-height: 133%;
}
