/**====================== МИКСИНЫ =================*/

//**====================== ШРИФТЫ =================*/

/**====================== ШРИФТЫ ПОДКЛЮЧАЕМЫЕ =================*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
/**====================== ШРИФТЫ ПО УМОЛЧАНИЮ =================*/

//**====================== ПЕРЕМЕННЫЕ =================*/
@import "./base/colors";
@import "./base/typography";

//**====================== ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ =================*/
@import "./base/reset";
body {
  font-family: "Montserrat";
  @extend %all-text;
  color: $text;
}

//**====================== УПАКОВКА =================*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
//**====================== ОСНОВНАЯ СЕТКА =================*/
.container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: content-box;
}
//**====================== ПОДКЛЮЧЕНИЕ СТИЛЕЙ =================*/
@import "./section/header";
